.hidden{
    display: none;
}
.addedTweet{
    display: inline-block;
    width: 50%;
}
#alertMessage{
    width: 300px;
    height: 50px;
    background: #a892922f;
    position: absolute;
    left: 300px;
}