*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.header{
  background: url('../img/header_bg.jpg');
  position: relative;
  height: 730px;
  display: flex;
}
.header .top_line{
  display: flex;
  justify-content: space-between;
}
.header .landing-logo{
  display: flex;
  justify-content: flex-start;
}
.header ul.menu{
  display: flex;
  justify-content: flex-end;
}
.header ul.menu li{
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}
.header .header_center{
  position: relative;
  top: 150px;
  width: 50%;
}
.header .header_center .header_heading{
  font-size: 60px;
  color: #000;
  font-weight: bold;
}
.header .header_center .header_text{
  white-space: pre-line;
  font-size: 20px;
  color: #000;
}
.header .icon_header_wrap{
  position: relative;
  top: 150px;
}
.header .icon_header_wrap .icon_header{
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
  background: #0078aa;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .header .top_line{
    display: flex;
    flex-direction: column;
  }
  .header .landing-logo{
    display: flex;
    justify-content: center;
  }
  .header ul.menu{
    display: flex;
    justify-content: center;
  }
  .header .header_center{
    position: relative;
    top: 150px;
    width: 100%;
  }
  .header .header_center .header_heading{
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  .header .header_center .header_text{
    white-space: pre-line;
    font-size: 20px;
    color: #000;
    text-align: center;
  }
}
.section_block:nth-child(3){
  background: url('../img/pricing_bg.jpg');
}