/* START: Task 1 Styles */
table{
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
}
.tdYellow{
    background: yellow;
}
.tdBlue{
    background: blue;
}
/* END: Task 1 Styles */
/* START: Task 2 Styles */
#task2{
    width: 300px;
}
input{
    width: 80%;
    box-sizing: border-box;
}
button{
    width: 20%;
}
p{
    color: #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.valid{
    background: green;
}
.invalid{
    background: pink;
}
.invalidInput{
    outline: 1px solid red;
}
/* END: Task 2 Styles */