.section_block:nth-child(1){
  background: #525252;
  color: #fff;
}
.header_heading{
  font-size: 30px;
}
.footer{
  background: #525252;
  color: #fff
}
.navbar-header{
  font-weight: bold;
  font-size: 20px;
}
.section_heading p:nth-child(1){
  font-size: 20px;
}
button{
  background: #ff7f50;
  color: #fff
}
