*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  min-width: 900px;
  width: 1600px;
}
.header {
  background-image: url("../img/apples.jpg");
  height: 740px;
}
.header-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}
.header-wrap .top_line{
  padding-top: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-wrap .top_line p{
  letter-spacing: 2px;
}
.header-wrap .top_line ul li{
  list-style: none;  
  display: inline-block;
  padding-left: 50px;
}
.header-wrap .center{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header-wrap .center .header_heading{
  font-size: 40px;
  letter-spacing: 5px;
}
.header-wrap .center .header_heading span{
  font-size: 60px;
}
.header_button{
  font-size: 18px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #FFF;
  padding: 10px 50px;
}
.section_text{
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section_text p{
  width: 45%;
}
.section_text p:nth-child(1){
  font-size: 22px;
}
.section_text p:nth-child(2){
  font-size: 18px;
}
.section_card_wrap{
  background: #F3F3F3;
}
.section button{
  background: #343638;
  color: #F3F3F3;
}
.section_info_block_text{
  color: #343638;
}
.footer-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-wrap ul li{
  list-style: none;  
  display: inline-block;
  padding-left: 50px;
}
.footer-wrap .footer-cr{
  color: #9E9E9E;
}