form{
    border: 2px grey solid;
    display: none;
}
input{
    display: block;
    width: 100%;
    height: 30px;
    background: #3bbb8c;
}
.block{
    max-width: 96%;
    margin: 0 auto;
}
button{
    margin: 20px 0;
    padding: 10px 20px;
    background: #4caf50;
    color: #fff;
}