:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}
.logo>img{
  width: 50%;
  height: auto;
}
body{
  display: grid;
}

main{
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(100px, 200px);
  /* grid-gap: 1em; */

}
.left_container{
  background: rgb(182, 65, 65);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;

  /* justify-items: stretch; */
}
.left_container>div{
  /* grid-column: ; */
  /* background-size: 100%; */
  /* background-size: cover; */
  overflow: hidden;
  /* padding: 10px; */
  background: rgb(65, 174, 182);
}
.left_container>div>img{
  width: 100%;
  height: auto;
}
.left_container>div:nth-child(1)  { grid-column: 1; grid-row: 1/3; }
.left_container>div:nth-child(2)  { grid-column: 2; grid-row: 1/5; }
.left_container>div:nth-child(3)  { grid-column: 3; grid-row: 1/7; }
.left_container>div:nth-child(4)  { grid-column: 1; grid-row: 3/8; }
.left_container>div:nth-child(5)  { grid-column: 2; grid-row: 5/7; }
.left_container>div:nth-child(6)  { grid-column: 3; grid-row: 7/10; }
.left_container>div:nth-child(7)  { grid-column: 1; grid-row: 7/12; }
.left_container>div:nth-child(8)  { grid-column: 2; grid-row: 7/11; }
.left_container>div:nth-child(9)  { grid-column: 3; grid-row: 10/16; }
.left_container>div:nth-child(10) { grid-column: 1; grid-row: 12/14; }
.left_container>div:nth-child(11) { grid-column: 2; grid-row: 11/16; }


.right_container{
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  background: rgb(228, 77, 77);
  /* justify-items: start; */
  justify-items: center;
}
.right_container>div{
  
}

.avatar{
  /* justify-self: center; */
  background: rgb(248, 143, 222);
  
}
.avatar>img{
  width: 50%;
  height: auto;
}